GOOGLE_SEARCH_API_KEY=YOUR_GOOGLE_SEARCH_API_KEY_HERE
GOOGLE_CX=YOUR_GOOGLE_CX_ID_HERE

GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

PICOVOICE_API_KEY=YOUR_PICOVOICE_API_KEY_HERE
WAKEUP_WORD_PATH=./wakeup-word/Hey-Echo_en_windows_v3_0_0.ppn

APPWRITE_API_KEY=YOUR_APPWRITE_API_KEY_HERE
APPWRITE_PROJECT_ID=YOUR_APPWRITE_PROJECT_ID_HERE
APPWRITE_REGION=YOUR_APPWRITE_REGION_HERE
APPWRITE_BUCKET_ID=YOUR_APPWRITE_BUCKET_ID_HERE

UNSPLASH_ACCESS_KEY=YOUR_UNSPLASH_ACCESS_KEY_HERE

FOLDER_PATH=./images
