langchain-community 
langchain-core
langchain-google-genai 
google-generativeai
numpy
pandas
langchain
google
SpeechRecognition
pypdf2
faiss-cpu
pillow
google-genai
duckduckgo-search
sentence-transformers
pyaudio
git+https://github.com/openai/CLIP.git
git+https://github.com/openai/whisper.git 
torchvision
crewai
pvporcupine
pveagle
flask
flask-socketio
flask-cors
langgraph
crewai-tools
langgraph-supervisor
serpapi
setuptools-rust
appwrite
fastapi
uvicorn
websockets
pydantic
pydantic-settings
python-dotenv
